<ion-header>
  <ion-toolbar>
    <ion-title>Cambiar Contraseña</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <!-- Paso 1: Ingresar Email -->
  <div *ngIf="step === 1">
    <ion-item>
      <ion-label position="stacked">Correo electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="nextStep()">Enviar código</ion-button>
  </div>

  <!-- Paso 2: Ingresar Código -->
  <div *ngIf="step === 2">
    <ion-item>
      <ion-label position="stacked">Código de verificación</ion-label>
      <ion-input type="text" [(ngModel)]="code"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="nextStep()">Verificar código</ion-button>
  </div>

  <!-- Paso 3: Nueva Contraseña -->
<!-- Paso 3: Nueva Contraseña -->
<div *ngIf="step === 3">
  <!-- Nueva contraseña -->
  <ion-item>
    <ion-label position="stacked">Nueva contraseña</ion-label>
    <ion-input
      [type]="showNew ? 'text' : 'password'"
      [(ngModel)]="newPassword">
    </ion-input>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="toggle('new')">
        <ion-icon [name]="showNew ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <!-- Confirmar contraseña -->
  <ion-item>
    <ion-label position="stacked">Confirmar contraseña</ion-label>
    <ion-input
      [type]="showConfirm ? 'text' : 'password'"
      [(ngModel)]="confirmPassword">
    </ion-input>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="toggle('confirm')">
        <ion-icon [name]="showConfirm ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <ion-button expand="block" color="primary" (click)="nextStep()">
    Guardar
  </ion-button>
</div>



</ion-content>
