<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login-wrap">
    <img src="assets/images/logoSolo.png" class="iso" alt="iso" />
    <h1 class="title">Iniciar Sesión</h1>

    <form (ngSubmit)="login()" #f="ngForm" novalidate>
      <!-- Usuario -->
      <ion-item class="anpr-input" lines="none">
        <ion-input
          placeholder="Nombre de usuario"
          [(ngModel)]="LoginDto.username"
          name="username"
          required
          autocomplete="username"
          inputmode="email">
        </ion-input>
        <ion-icon slot="end" name="send-outline"></ion-icon>
      </ion-item>

      <!-- Contraseña -->
      <ion-item class="anpr-input" lines="none">
        <ion-input
          type="password"
          placeholder="Contraseña"
          [(ngModel)]="LoginDto.password"
          name="password"
          required
          autocomplete="current-password">
        </ion-input>
      </ion-item>

      <div class="forgot">
        ¿Olvidaste tu contraseña?
        <a class="anpr-link" (click)="restablecerContrasena()">Restablecer</a>
      </div>

      <ion-button class="anpr-btn" expand="block" type="submit" [disabled]="loading || f.invalid">
        <ion-spinner *ngIf="loading" name="dots"></ion-spinner>
        <span *ngIf="!loading">Ingresar</span>
      </ion-button>
    </form>

    <!-- Deja esto sin (click) para evitar error si no existe goRegister -->
    <div class="register">¿No tienes cuenta? <span class="anpr-link">Registrarse</span></div>
  </div>
</ion-content>
